{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Rango Index
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there, you unregistered motherfucker!
        {% endif %}
        <br/><br/>
    </div>
    <div>
        {% if categories %}
        Our TOP 5 categories today are:
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no tacegories present.</strong>
        {% endif %}
    </div>
    <div>
        <ul>
            {% if user.is_authenticated %}
               <li><a href="{% url 'rango:restricted' %}">Restricted Page</a></li>
                <li><a href="{% url 'rango:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'rango:login' %}">Sign In</a></li>
                <li><a href="{% url 'rango:register' %}">Sign Up</a></li>
            {% endif %}
            <img src="{% static "images/luther.jpg" %}" alt="Picture of Luther" /><br/>
            <p> Visits: {{ visits }}</p>
        </ul>
    </div>
    <!--<div>-->
        <!--<a href="/rango/register/">Sign up</a><br/>-->
        <!--<a href="/rango/login/">Login</a><br/>-->
        <!---->
    <!--</div>-->
{% endblock %}