{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Rango Index
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        hey there. This is the index
    </div>
    <div>
        {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no tacegories present.</strong>
        {% endif %}
    </div>
    <div>
        <a href="/rango/register/">Sign up</a><br/>
        <a href="/rango/login/">Login</a><br/>
        <img src="{% static "images/luther.jpg" %}" alt="Picture of Luther" />
    </div>
{% endblock %}